[submodule "public/externals/namespace-core"]
	path = public/externals/namespace-core
	url = git@github.com:lukaprijatelj/js-namespace-core.git
[submodule "public/externals/namespace-html"]
	path = public/externals/namespace-html
	url = git@github.com:lukaprijatelj/js-namespace-html.git
[submodule "public/externals/namespace-debug"]
	path = public/externals/namespace-debug
	url = git@github.com:lukaprijatelj/js-namespace-debug.git
[submodule "public/externals/namespace-analytics"]
	path = public/externals/namespace-analytics
	url = git@github.com:lukaprijatelj/js-namespace-analytics.git