<!DOCTYPE html>

<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="title" content="Distributed online rendering">
		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="year" content="2019">
		
		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/admin-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/admin.css">

		<!-- layouts -->
		<link rel="stylesheet" href="layoutsheets/common.css">
		<link rel="stylesheet" href="layoutsheets/admin.css">

		<!-- Placeholder for dynamically loading CSS files -->
		<script type="namespace-core:css-loader"></script>

		<!-- constants -->
		<script>
			if (console)
			{
				console.type = 'client';
			}
		</script>
		<script src="javascripts/constants.js"></script>
		<script src="javascripts/options.js"></script>

		<!-- Extension scripts -->
		<script src="javascripts/core-javascript-extensions/Path.js"></script>
		<script src="javascripts/core-javascript-extensions/Importer.js"></script>
		<script src="javascripts/core-javascript-extensions/Function.js"></script>
		<script src="javascripts/core-javascript-extensions/Array.js"></script>
		<script src="javascripts/core-javascript-extensions/Date.js"></script>
		<script src="javascripts/core-javascript-extensions/Enum.js"></script>
		<script src="javascripts/core-javascript-extensions/Math.js"></script>
		<script src="javascripts/core-javascript-extensions/String.js"></script>
		<script src="javascripts/core-javascript-extensions/Object.js"></script>
		<script src="javascripts/core-javascript-extensions/HTMLElement.js"></script>
		<script src="javascripts/core-javascript-extensions/console.js"></script>
		<script src="javascripts/core-javascript-extensions/Exception.js"></script>
		<script src="javascripts/core-javascript-extensions/Warning.js"></script>
		<script src="javascripts/core-javascript-extensions/Thread.js"></script>
		<script src="javascripts/core-javascript-extensions/Timer.js"></script>
		<script src="javascripts/core-javascript-extensions/Mouse.js"></script>
		<script src="javascripts/core-javascript-extensions/Event.js"></script>
		<script src="javascripts/core-javascript-extensions/Image.js"></script>
		<script src="javascripts/core-javascript-extensions/RawImage.js"></script>
		<script src="javascripts/core-javascript-extensions/Ajax.js"></script>
		<script src="javascripts/core-javascript-extensions/Unit.js"></script>
		<script src="javascripts/core-javascript-extensions/Char.js"></script>
		<script src="javascripts/core-javascript-extensions/Browser.js"></script>


		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded asynchronously -->
		<!-- ----------------------------- -->
		<script src="javascripts/socket.io/socket.io.js"></script>


		<!-- ThreeJS -->
		<script src="javascripts/threejs/three.js"></script>
		<script src="javascripts/threejs/OrbitControls.js"></script>
		<script src="javascripts/threejs/GLTFLoader.js"></script>
		
		
		<!-- Classes scrips -->		
		<script src="javascripts/classes/RendererCanvas.js"></script>
		<script src="javascripts/classes/EditorCanvas.js"></script>
		<script src="javascripts/classes/GltfLoader.js"></script>
		

		<!-- Placeholder for dynamically loading JS files -->
		<script src="javascripts/events/admin.events.js"></script>
		<script type="namespace-core:js-loader"></script>		
	</head>
	<body>

		<!-- dummy input tag, so that file upload dialog is presented to user -->
		<form id="scene-upload-form" enctype="multipart/form-data" action="/api/uploadScene" method="post" class="hidden">
			<input id="upload-file-input" name="reserved_word-scene" type="file" accept="image/jpg,image/png," />
		</form> 

		<!-- Interface -->
		<div id="interface" class="loading">

			<!-- Canvas for displaying preview -->
			<canvas id="editor-canvas" class=""></canvas>
			<curtain id="editor-curtain"></curtain>

			<layer id="bars">
				<flex id="top-bar">
					<bar-button id="scene-button" class="" onclick="EVENTS._onSceneButtonClick(this)">SCENE</bar-button>
					<bar-button id="options-button" class="" onclick="EVENTS._onOptionsButtonClick(this)">OPTIONS</bar-button>
					<bar-button id="render-button" onclick="EVENTS._onStartStopRenderingClick()">START RENDERING</bar-button>
					<bar-button id="output-button" class="hidden" onclick="EVENTS._onOpenOutputClick()">OPEN OUTPUT</bar-button>
					<div style="flex-grow: 2;"></div>
				</flex>
			</layer>
			
			<layer id="dropdowns" class="hidden">
				<curtain onclick="EVENTS.onDropdownsCurtainClick()"></curtain>
				<list></list>
			</layer>

			<flex id="bottom-row">
				
				<editor-popup>
					<!-- Statistics -->
					<section>
						<h3>Statistics</h3>
						<flex>
							<section>
								<label>Average rendering time</label>
								<input type="number" id="avg-render-time-input" class="disabled">
							</section>					
							<divider-y-small></divider-y-small>
							<section>
								<label>Best speed</label>
								<input type="number" id="best-speed-input" class="disabled">
							</section>
						</flex>				
					</section>
					<divider-x></divider-x>	
	
					<!-- Start new client button -->
					<section>
						<label>Clients connected</label>
						<flex>
							<input type="number" id="clients-connected-input" value="0" class="disabled">
							<button id="start-new-client-button" class="dark" onclick="EVENTS._onStartNewClientClick()"> + </button>
						</flex>				
					</section>
					<divider-x></divider-x>		
				</editor-popup>
			</flex>			

			<debug>
				<div id="mouse-position">
					<span class="title">Mouse positions</span>
					<span class="value"></span>
				</div>
				<div id="canvas-size">
					<span class="title">Canvas size</span>
					<span class="value"></span>
				</div>				
			</debug>
		</div>		

		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded synchronously -->
		<!-- ----------------------------- -->
		<script src="javascripts/admin.js"></script>
	</body>
</html>