<!DOCTYPE html>

<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="title" content="Distributed online rendering">
		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="year" content="2019">
		
		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/admin-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="externals/namespace-html/stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/admin.css">

		<!-- Placeholder for dynamically loading CSS files -->
		<script type="namespace-core:css-loader"></script>

		<!-- Placeholder for dynamically loading JS files -->
		<script type="namespace-core:js-loader"></script>		
	</head>
	<body>

		<!-- dummy input tag, so that file upload dialog is presented to user -->
		<form id="scene-upload-form" enctype="multipart/form-data" action="/api/uploadScene" method="post" class="hidden">
			<input id="upload-file-input" name="reserved_word-scene" type="file" webkitdirectory mozdirectory directory multiple onchange="EVENTS.onFileUploadChange(event)" />
		</form> 

		<!-- Interface -->
		<interface class="loading">

			<!-- Canvas for displaying preview -->
			<canvas id="editor-canvas" class=""></canvas>
			<curtain id="editor-curtain"></curtain>

			<debug class="left-side">
				<div id="num-clients-connected">
					<span class="title">Number of clients:</span>
					<span class="value">0</span>
				</div>	
				<div id="avg-processing-time">
					<span class="title">Avg processing time:</span>
					<span class="value">undefined</span>
				</div>
				<div id="best-processing-time">
					<span class="title">Best processing time:</span>
					<span class="value">undefined</span>
				</div>		
			</debug>

			<debug class="right-side">
				<div id="mouse-position">
					<span class="title">Mouse positions</span>
					<span class="value"></span>
				</div>
				<div id="canvas-size">
					<span class="title">Canvas size</span>
					<span class="value"></span>
				</div>				
			</debug>

			<layer-resizable id="bars">
				<flex id="top-bar">
					<bar-button id="scene-button" class="" onclick="EVENTS._onSceneButtonClick(this)">SCENE</bar-button>
					<bar-button id="options-button" class="" onclick="EVENTS._onOptionsButtonClick(this)">OPTIONS</bar-button>
					<bar-button id="render-button" onclick="EVENTS._onStartStopRenderingClick(event)">ENABLE RENDERING</bar-button>
					<!-- <bar-button id="output-button" class="hidden" onclick="EVENTS._onOpenOutputClick()">OPEN OUTPUT</bar-button> -->
					<bar-button id="new-renderer-button" class="hidden" onclick="EVENTS._onNewRendererClick(event)">NEW RENDERER</bar-button>
					<div style="flex-grow: 2;"></div>
				</flex>
			</layer-resizable>
			
			<layer id="dropdowns" class="hidden" js-class="" num-of-children="" onclick="EVENTS.onDropdownsCurtainClick(event)"></layer>
			
			<!-- Loading layer must always be on the top of all other layers -->
			<layer id="loading" class="hidden">
				<curtain></curtain>
				<div class="centered-text">
					<wrapper_></wrapper_>
				</div>
			</layer>			
		</interface>		

		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded synchronously -->
		<!-- ----------------------------- -->
		<script src="externals/namespace-core/Importer.js"></script>
		<script src="scripts/admin.autoloader.js"></script>
	</body>
</html>