<!DOCTYPE html>

<!-- Namespace required for importer to work correctly -->
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="title" content="Distributed online rendering">
		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="year" content="2019">	
		
		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/renderer-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/namespace-html.css">
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client.css">

		<!-- Placeholder for dynamically loading CSS files -->
		<script type="namespace-core:css-loader"></script>	
		
		<!-- Path tracing scripts -->
		<!-- <script src="scripts/path-tracing/threex.keyboardstate.js"></script>
		<script src="scripts/path-tracing/commonFunctions.js"></script>
		<script src="scripts/path-tracing/pathTracingCommon.js"></script>
		<script src="scripts/path-tracing/Geometry_Showcase.js"></script>		
		<script src="scripts/path-tracing/FirstPersonCameraControls.js"></script> -->

		<!-- Placeholder for dynamically loading JS files -->
		<script type="namespace-core:js-loader"></script>
	</head>
	<body>
		
		<interface class="loading">
			<!-- main area where all element will be added -->
		</interface>

		<!-- ----------------------------- -->
		<!-- Start main script -->
		<!-- ----------------------------- -->
		<script src="scripts/namespace-core/Document.js"></script>
		<script src="scripts/client.autoloader.js"></script>
	</body>
</html>
