<!DOCTYPE html>

<!-- Namespace required for importer to work correctly -->
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="title" content="Distributed online rendering">
		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="year" content="2019">	
		
		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/renderer-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client.css">

		<!-- layouts -->
		<link rel="stylesheet" href="layoutsheets/common.css">
		<link rel="stylesheet" href="layoutsheets/client.css">

		<!-- Placeholder for dynamically loading CSS files -->
		<script type="namespace-core:css-loader"></script>
		
		<!-- constants -->
		<script>
			if (console)
			{
				console.type = 'client';
			}
		</script>
		<script src="javascripts/constants.js"></script>

		<!-- Extension scripts -->
		<script src="javascripts/core-javascript-extensions/Path.js"></script>
		<script src="javascripts/core-javascript-extensions/Importer.js"></script>
		<script src="javascripts/core-javascript-extensions/Function.js"></script>
		<script src="javascripts/core-javascript-extensions/Array.js"></script>
		<script src="javascripts/core-javascript-extensions/Date.js"></script>
		<script src="javascripts/core-javascript-extensions/Enum.js"></script>
		<script src="javascripts/core-javascript-extensions/Math.js"></script>
		<script src="javascripts/core-javascript-extensions/String.js"></script>
		<script src="javascripts/core-javascript-extensions/Object.js"></script>
		<script src="javascripts/core-javascript-extensions/HTMLElement.js"></script>
		<script src="javascripts/core-javascript-extensions/console.js"></script>
		<script src="javascripts/core-javascript-extensions/Exception.js"></script>
		<script src="javascripts/core-javascript-extensions/Warning.js"></script>
		<script src="javascripts/core-javascript-extensions/Thread.js"></script>
		<script src="javascripts/core-javascript-extensions/Timer.js"></script>
		<script src="javascripts/core-javascript-extensions/Mouse.js"></script>
		<script src="javascripts/core-javascript-extensions/Event.js"></script>
		<script src="javascripts/core-javascript-extensions/Image.js"></script>
		<script src="javascripts/core-javascript-extensions/RawImage.js"></script>
		<script src="javascripts/core-javascript-extensions/Ajax.js"></script>
		<script src="javascripts/core-javascript-extensions/Unit.js"></script>
		<script src="javascripts/core-javascript-extensions/Char.js"></script>
		<script src="javascripts/core-javascript-extensions/Browser.js"></script>


		<!-- scripts -->
		<script src="javascripts/socket.io/socket.io.js"></script>	

		<!-- ThreeJS -->
		<script src="javascripts/threejs/three.js"></script>
		<script src="javascripts/threejs/OrbitControls.js"></script>
		<script src="javascripts/threejs/GLTFLoader.js"></script>
		
		<!-- Path tracing scripts -->
		<!-- <script src="javascripts/path-tracing/threex.keyboardstate.js"></script>
		<script src="javascripts/path-tracing/commonFunctions.js"></script>
		<script src="javascripts/path-tracing/pathTracingCommon.js"></script>
		<script src="javascripts/path-tracing/Geometry_Showcase.js"></script>		
		<script src="javascripts/path-tracing/FirstPersonCameraControls.js"></script> -->

		<!-- Ray tracing scripts -->
		<script src="javascripts/ray-tracing-web-worker/RaytracingRenderer.js"></script>
		<script src="javascripts/ray-tracing-web-worker/RaytracingWorker.js"></script>

		<!-- Classes scrips -->
		<script src="javascripts/classes/RawImageLoader.js"></script>
		<script src="javascripts/classes/RendererCanvas.js"></script>
		<script src="javascripts/classes/GltfLoader.js"></script>

		<!-- Placeholder for dynamically loading JS files -->
		<script type="namespace-core:js-loader"></script>
	</head>
	<body class="loading">

		<div id="interface">
			<!-- rendered cells -->
			<canvas id="rendering-canvas" class="" width="0" height="0"></canvas>			
		</div>

		<!-- ----------------------------- -->
		<!-- Start main script -->
		<!-- ----------------------------- -->
		<script src="javascripts/client.js"></script>		
	</body>
</html>
