<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client-renderer.css">

		<!-- scripts -->
		<script src="javascripts/socket.io/socket.io.js"></script>
		<script src="javascripts/threejs/three.js"></script>
		<script src="javascripts/threejs/RaytracingRenderer.js"></script>
		<script src="javascripts/threejs/RaytracingWorker.js"></script>
		<script src="javascripts/threejs/OrbitControls.js"></script>
		<script src="javascripts/threejs/GLTFLoader.js"></script>
		<script src="javascripts/helper.js"></script>
	</head>
	<body>
		<div id="grid-layout" class=""></div>
		<canvas id="rendering-canvas" class="hidden" width="1920" height="1080"></canvas>

		<div id="debug-info">
			<div class="group camera">
				<div class="name">Camera</div>
				<table>
					<tr class="field">
						<td class="key">x</td>
						<td class="value"></td>
					</tr>
					<tr class="field">
						<td class="key">y</td>
						<td class="value"></td>
					</tr>
					<tr class="field">
						<td class="key">z</td>
						<td class="value"></td>
					</tr>
				</table>
			</div>
			<div class="group mouse">
				<div class="name">Mouse</div>
				<table>
					<tr class="field">
						<td class="key">x</td>
						<td class="value"></td>
					</tr>
					<tr class="field">
						<td class="key">y</td>
						<td class="value"></td>
					</tr>
				</table>
			</div>
		</div>

		<script src="javascripts/mouse.js"></script>
		<script src="javascripts/debug.js"></script>
		<script src="javascripts/client-renderer.js"></script>
	</body>
</html>
