<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client-admin.css">

		<!-- scripts -->
		<script src="javascripts/socket.io/socket.io.js"></script>
		<script src="javascripts/html.js"></script>
		<script src="javascripts/helper.js"></script>
	</head>
	<body>
		<div id="loading-curtain">
			<div class="wrapper">
				<div class="message">Loading admin interface</div>
			</div>
		</div>

		<div id="interface" class="hidden">
			<div class="button dark" onclick="GLOBALS._onRecalculateLayoutClick()">Recalculate layout</div>

			<div class="divider"></div>
	
			<div id="grid-layout" class=""></div>
		</div>		

		<script src="javascripts/client-admin.js"></script>
	</body>
</html>
