<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client-admin.css">

		<!-- scripts -->
		<script src="javascripts/socket.io/socket.io.js"></script>
		<script src="javascripts/html.js"></script>
		<script src="javascripts/helper.js"></script>
	</head>
	<body>
		<div class="button dark" onclick="MAIN._requestLayoutRecalculation()">Recalculate layout</div>

		<div class="divider"></div>

		<div id="grid-layout" class=""></div>

		

		<script src="javascripts/client-admin/main.js"></script>
	</body>
</html>
