<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/client.css">

		<!-- scripts -->
		<script src="javascripts/socket.io/socket.io.js"></script>
		<script src="javascripts/glMatrix/gl-matrix.js"></script>
		<script src="javascripts/threejs/three.js"></script>
		<script src="javascripts/threejs/pathTracingCommon.js"></script>
		<script src="javascripts/threejs/OrbitControls.js"></script>
		<script src="javascripts/threejs/GLTFLoader.js"></script>
		<script src="javascripts/html.js"></script>
		<script src="javascripts/helper.js"></script>
	</head>
	<body>
		<canvas id="canvas-screenshot" width="384" height="216"></canvas>
		
		<div id="grid-layout" class="hidden"></div>

		<div id="debug-info">
			<div class="camera">
				<div class="name">Camera</div>
				<table>
					<tr class="two-part-item">
						<td class="key">x</td>
						<td class="value"></td>
					</tr>
					<tr class="two-part-item">
						<td class="key">y</td>
						<td class="value"></td>
					</tr>
					<tr class="two-part-item">
						<td class="key">z</td>
						<td class="value"></td>
					</tr>
				</table>
			</div>
		</div>

		<script src="javascripts/renderer.js"></script>
	</body>
</html>
