<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>

		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/admin-favicon.png" />

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">
		<link rel="stylesheet" href="stylesheets/server-admin.css">

		<!-- layouts -->
		<link rel="stylesheet" href="layoutsheets/common.css">
		<link rel="stylesheet" href="layoutsheets/server-admin.css">

		<!-- constants -->
		<script>
			if (console)
			{
				console.type = 'client';
			}
		</script>
		<script src="javascripts/constants.js"></script>
		<script src="javascripts/options.js"></script>

		<!-- Extension scripts -->
		<script src="javascripts/core-javascript-extensions/Path.js"></script>
		<script src="javascripts/core-javascript-extensions/Importer.js"></script>
		<script src="javascripts/core-javascript-extensions/Function.js"></script>
		<script src="javascripts/core-javascript-extensions/Array.js"></script>
		<script src="javascripts/core-javascript-extensions/Date.js"></script>
		<script src="javascripts/core-javascript-extensions/Enum.js"></script>
		<script src="javascripts/core-javascript-extensions/Math.js"></script>
		<script src="javascripts/core-javascript-extensions/Object.js"></script>
		<script src="javascripts/core-javascript-extensions/HTMLElement.js"></script>
		<script src="javascripts/core-javascript-extensions/console.js"></script>
		<script src="javascripts/core-javascript-extensions/Exception.js"></script>
		<script src="javascripts/core-javascript-extensions/Warning.js"></script>
		<script src="javascripts/core-javascript-extensions/Thread.js"></script>
		<script src="javascripts/core-javascript-extensions/Timer.js"></script>


		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded asynchronously -->
		<!-- ----------------------------- -->
		<script src="javascripts/socket.io/socket.io.js"></script>


		<!-- ThreeJS -->
		<script src="javascripts/threejs/three.js"></script>
		<script src="javascripts/threejs/OrbitControls.js"></script>
		<script src="javascripts/threejs/GLTFLoader.js"></script>
		
		
		<!-- Classes scrips -->		
		<script src="javascripts/classes/RendererCanvas.js"></script>
		<script src="javascripts/classes/EditorCanvas.js"></script>
		<script src="javascripts/classes/GltfLoader.js"></script>

		<core-javascript-extensions:css-loader>
			<!-- Placeholder for loading CSS files -->
		</core-javascript-extensions:css-loader>

		<core-javascript-extensions:js-async-loader>
			<!-- Placeholder for async loading JS files -->
		</core-javascript-extensions:js-async-loader>
	</head>
	<body class="loading">

		<!-- Interface -->
		<div id="interface" class="">

			<!-- Canvas for displaying preview -->
			<canvas id="editor-canvas" class=""></canvas>
			<curtain id="editor-curtain"></curtain>

			<flex id="bottom-row">
				<editor-popup>
					<!-- Info about mouse position -->
					<section>
						<label>Mouse positions (x, y)</label>
						<flex>
							<input type="number" id="mouse-x-input" class="disabled">
							<divider-y-small></divider-y-small>
							<input type="number" id="mouse-y-input" class="disabled">
						</flex>				
					</section>
					<divider-x-small></divider-x-small>
		
					<!-- Info about camera position -->
					<section>
						<label>Camera positions (x, y, z)</label>
						<flex>
							<input type="number" id="camera-x-input" class="disabled">
							<divider-y-small></divider-y-small>
							<input type="number" id="camera-y-input" class="disabled">
							<divider-y-small></divider-y-small>
							<input type="number" id="camera-z-input" class="disabled">
						</flex>				
					</section>
					<divider-x-small></divider-x-small>	
	
					<!-- Canvas width and height inputs -->
					<flex>
						<section>
							<label>Canvas width (px)</label>
							<input type="number" id="canvas-width-input" class="disabled">
						</section>
						<divider-y-small></divider-y-small>
						<section>
							<label>Canvas height (px)</label>
							<input type="number" id="canvas-height-input" class="disabled">
						</section>				
					</flex>
					<divider-x-small></divider-x-small>

					<!-- Resolution width and height inputs -->
					<flex>
						<section>
							<label>Resolution width (px)</label>
							<input type="number" id="resolution-width-input" class="" onchange="GLOBALS._onResolutionWidthChange(this.value)">
						</section>
						<divider-y-small></divider-y-small>
						<section>
							<label>Resolution height (px)</label>
							<input type="number" id="resolution-height-input" class="" onchange="GLOBALS._onResolutionHeightChange(this.value)">
						</section>				
					</flex>
					<divider-x-small></divider-x-small>
	
					<!-- Block width and height inputs -->
					<flex>
						<section>
							<label>Block width (px)</label>
							<input type="number" id="block-width-input" class="" onchange="GLOBALS._onBlockWidthChange(this.value)">
						</section>
						<divider-y-small></divider-y-small>
						<section>
							<label>Block height (px)</label>
							<input type="number" id="block-height-input" class=""  onchange="GLOBALS._onBlockHeightChange(this.value)">
						</section>
					</flex>
					<divider-x-small></divider-x-small>
	
					<!-- Recalculate button -->
					<checkbox-button id="recalculate-layout-button" class="dark" onclick="GLOBALS._onStartStopRenderingClick()">Start rendering</checkbox-button>
					<divider-x-small></divider-x-small>

					<!-- Recalculate button -->
					<checkbox-button id="open-output-button" class="dark" onclick="GLOBALS._onOpenOutputClick()">Open output</checkbox-button>
				</editor-popup>

				<editor-popup>
					<!-- Statistics -->
					<section>
						<h3>Statistics</h3>
						<flex>
							<section>
								<label>Average rendering time</label>
								<input type="number" id="avg-render-time-input" class="disabled">
							</section>					
							<divider-y-small></divider-y-small>
							<section>
								<label>Best speed</label>
								<input type="number" id="best-speed-input" class="disabled">
							</section>
						</flex>				
					</section>
					<divider-x></divider-x>	
	
					<!-- Start new client button -->
					<section>
						<label>Clients connected</label>
						<flex>
							<input type="number" id="clients-connected-input" value="0" class="disabled">
							<button id="start-new-client-button" class="dark" onclick="GLOBALS._onStartNewClientClick()"> + </button>
						</flex>				
					</section>
					<divider-x></divider-x>		
				</editor-popup>
			</flex>			
		</div>		


		<core-javascript-extensions:js-sync-loader>
			<!-- Placeholder for sync loading JS files -->
		</core-javascript-extensions:js-sync-loader>

		<!-- ----------------------------- -->
		<!-- Scripts that will be loaded synchronously -->
		<!-- ----------------------------- -->
		<!-- <script src="javascripts/enums.js"></script> -->
		<script src="javascripts/mouse.js"></script>
		<script src="javascripts/debug.js"></script>
		<script src="javascripts/api.js"></script>	
		<script src="javascripts/server-admin.js"></script>
	</body>
</html>