<!DOCTYPE html>
<html>
	<head>
		<title>Upload scene...</title>

		<meta name="description" content="Diploma assignment for Faculty of Computer and Information Science - University of Ljubljana">
		<meta name="author" content="Luka Prijatelj">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon -->
		<link rel="icon" type="image/png" href="images/admin-favicon.png" />
		
		<!-- styles -->
		<link rel="stylesheet" href="stylesheets/common.css">

		<!-- layouts -->
		<link rel="stylesheet" href="layoutsheets/common.css">
		<link rel="stylesheet" href="layoutsheets/index.css">

		<!-- Javascript -->
		<script type="text/javascript" src="javascripts/upload.js"></script>
	</head>
	<body>
		<div id="upload-button-container">
				
			<!-- dummy input tag, so that file upload dialog is presented to user -->
			<form id="scene-upload-form" enctype="multipart/form-data" action="/api/uploadScene" method="post" class="hidden">
				<input id="upload-file-input" name="fileneki" type="file" accept="image/jpg,image/png," />
			</form>    

			<div class="button dark clickable">Upload file</div>           
		</div>

		<script>GLOBALS.init()</script>
	</body>
</html>