/* -------------------------------------------------------------------------------------------------------------------- */
/* Layout (fires browsers reflow event - slow processing) */
/* -------------------------------------------------------------------------------------------------------------------- */


#interface
{
	position: fixed;
	width: calc(100% - var(--BORDER-WIDTH) * 2);
    height: calc(100% - var(--BORDER-WIDTH) * 2);
}


#top-bar
{
	position: absolute;
	left: 1px;
	top: 1px;
}


debug
{
	position: absolute;
	display: block;
	bottom: 0px;
}

debug.left-side
{
	left: 0;
	text-align: left;
}

debug.right-side
{
	right: 0px;
	text-align: right;
}

dropdown>wrapper_
{
	display: block;	
}

dropdown#options-dropdown>wrapper_
{
	max-width: 210px;
	padding: 15px;
}

#upload-button
{
	padding-bottom: 15px;
}



layer#loading .centered-text
{
	position: absolute;
	left: 50%;
	top: 50%;
}

layer#loading .centered-text wrapper_
{
	margin-left: -50%;
	padding: 20px;
}


/* ----------------------------- */
/* Editor canvas */
/* ----------------------------- */

#editor-canvas
{
	position: absolute;
}