/* -------------------------------------------------------------------------------------------------------------------- */
/* Layout (fires browsers reflow event - slow processing) */
/* -------------------------------------------------------------------------------------------------------------------- */


#interface
{
	position: fixed;
	width: calc(100% - var(--BORDER-WIDTH) * 2);
    height: calc(100% - var(--BORDER-WIDTH) * 2);
}


#top-bar
{
	position: absolute;
	left: 1px;
	top: 1px;
}


debug
{
	position: absolute;
	display: block;
	bottom: 0px;
	right: 0px;
	text-align: right;
}


dropdown>wrapper_
{
	display: block;	
}

dropdown#options-dropdown>wrapper_
{
	max-width: 210px;
	padding: 15px;
}

#upload-button
{
	padding-bottom: 15px;
}

/* ----------------------------- */
/* Editor canvas */
/* ----------------------------- */

#editor-canvas
{
	position: absolute;
}