/* -------------------------------------------------------------------------------------------------------------------- */
/* Layout (fires browsers reflow event - slow processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

#interface
{
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

#rendering-canvas
{
	width: 100%;
}

.divider
{
	height: 50px;
}

.divider-small
{
	height: 20px;
}




/* ----------------------------- */
/* Rendering canvas */
/* ----------------------------- */

#rendering-canvas
{
	border-width: 1px;
}

	#rendering-canvas.loading
	{
		background-color: var(--LOADING-SKELETON-BACKGROUND);
	}
