/* -------------------------------------------------------------------------------------------------------------------- */
/* Layout (fires browsers reflow event - slow processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

#debug-info 
{
	position: fixed;
	max-width: 300px;
	bottom: 0;
	right: 0;
	font-size: 2em;
}

	#debug-info .field
	{
		font-size: 0.8em;
	}

	#debug-info .field .value
	{
		flex-grow: 1;
		text-align: center;
		padding: 10px;
	}

	#debug-info .field .key
	{
		flex-grow: 1;
		text-align: center;
		flex-shrink: 1;
		padding: 10px;
	}

	#debug-info .group>.name
	{
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}

	#debug-info .group table
	{
		table-layout: fixed;
		width: 100%;
	}

#rendering-canvas
{
	border-width: 1px;
}
