body
{
	background-color: var(--DARK-BLACK-COLOR);
}





/* ----------------------------- */
/* Interface */
/* ----------------------------- */
interface
{
	border-style: solid;
	border-color: var(--LIGHT-BLACK-COLOR);

	position: fixed;
}

interface.rendering
{
	border-color: var(--LIGHT-RED-COLOR);
}






/* ----------------------------- */
/* Layer */
/* ----------------------------- */
layer#loading>curtain
{
	background-color: rgba(0, 0, 0, 1);
	opacity: 0.87;
}

layer#loading .centered-text
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

layer#loading>.centered-text wrapper_
{
	background-color: var(--DARK-BLUE-COLOR);
	padding: 20px;
}






/* ----------------------------- */
/* Debug */
/* ----------------------------- */
debug
{
	position: absolute;
	display: block;
	bottom: 0px;
}

debug.left-side
{
	left: 0;
	text-align: left;
}

debug.right-side
{
	right: 0px;
	text-align: right;
}





/* ----------------------------- */
/* Dropdown */
/* ----------------------------- */
dropdown#options-dropdown>wrapper_,
dropdown#background-dropdown>wrapper_
{
	max-width: 210px;
	padding: 15px;
}

#options-dropdown input[type="radio"]
{
    vertical-align: bottom;
}



#editor-canvas
{
	position: absolute;
}

interface:not(.rendering) #editor-curtain
{
	display: none;
}

.render-button
{
	width: 50px;
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--LIGHT-RED-COLOR);
}

.render-button:not([disabled]):hover
{
	background-color: var(--LIGHT-RED-COLOR);
}

#start-rendering-button
{
	background-image: url('../images/Play_icon.png');
}

#pause-rendering-button
{
	background-image: url('../images/Pause_icon.png');
}

#stop-rendering-button
{
	background-image: url('../images/Stop_icon.png');
}

#resume-rendering-button
{
	background-image: url('../images/Resume_icon.png');
}

#new-renderer-button
{
	background-color: var(--DARK-BLUE-COLOR);
}

#upload-button
{
	color: var(--LIGHT-BLUE-COLOR);
	padding-bottom: 15px;
}

#top-bar
{
	position: absolute;
}



#background-dropdown img
{
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255,255,255, 0.2);
}

#background-dropdown input
{
	margin-right: 10px;
	margin-top: 50px;
	vertical-align: top;
}