body
{
	background-color: var(--DARK-BLACK-COLOR);
}





/* ----------------------------- */
/* Interface */
/* ----------------------------- */
interface
{
	border-style: solid;
	border-color: var(--EDITOR-POPUP-BACKGROUND);

	position: fixed;
	width: calc(100% - var(--BORDER-WIDTH) * 2);
    height: calc(100% - var(--BORDER-WIDTH) * 2);
}

interface.rendering
{
	border-color: var(--LIGHT-RED-COLOR);
}






/* ----------------------------- */
/* Layer */
/* ----------------------------- */
layer#loading>curtain
{
	background-color: rgba(0, 0, 0, 1);
	opacity: 0.87;
}

layer#loading .centered-text
{
	position: absolute;
	left: 50%;
	top: 50%;
}

layer#loading>.centered-text wrapper_
{
	background-color: var(--DARK-GRAY-COLOR);
	margin-left: -50%;
	padding: 20px;
}






/* ----------------------------- */
/* Debug */
/* ----------------------------- */
debug
{
	position: absolute;
	display: block;
	bottom: 0px;
}

debug.left-side
{
	left: 0;
	text-align: left;
}

debug.right-side
{
	right: 0px;
	text-align: right;
}





/* ----------------------------- */
/* Dropdown */
/* ----------------------------- */
dropdown>wrapper_
{
	display: block;	
}

dropdown#options-dropdown>wrapper_
{
	max-width: 210px;
	padding: 15px;
}




#editor-canvas
{
	position: absolute;
}

#render-button
{
	background-color: var(--LIGHT-RED-COLOR);
}

#output-button,
#new-renderer-button
{
	background-color: var(--DARK-BLUE-COLOR);
}

#upload-button
{
	color: var(--LIGHT-BLUE-COLOR);
	padding-bottom: 15px;
}

#top-bar
{
	position: absolute;
	left: 1px;
	top: 1px;
}