/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

body
{
	background-color: var(--DARK-BLACK-COLOR);
}


#render-button
{
	background-color: var(--LIGHT-RED-COLOR);
}

#output-button
{
	background-color: var(--DARK-BLUE-COLOR);
}

#upload-button
{
	color: var(--LIGHT-BLUE-COLOR);
}


#interface
{
	border-style: solid;
	border-color: var(--EDITOR-POPUP-BACKGROUND);
}

#interface.rendering
{
	border-color: var(--LIGHT-RED-COLOR);
}