/* ----------------------------- */
/* Interface */
/* ----------------------------- */
interface
{
	position: absolute;
	overflow: auto;
}




/* ----------------------------- */
/* Debug info */
/* ----------------------------- */
#debug-info 
{
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: var(--DARK-BLUE-COLOR);

	position: fixed;
	max-width: 300px;
	bottom: 0;
	right: 0;
	font-size: 2em;
}

#debug-info .field
{
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.8em;
}

#debug-info .field .value
{
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

#debug-info .field .key
{
	flex-grow: 1;
	text-align: center;
	flex-shrink: 1;
	padding: 10px;
}

#debug-info .group>.name
{
	background-color: var(--DARK-BLUE-COLOR);
	
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#debug-info .group table
{
	table-layout: fixed;
	width: 100%;
}

#flag-canvas-this,
#flag-canvas-others
{
	position: absolute;
	left: 0;
	top: 0;
} 

.flag-cell
{
	border-style: solid;
	border-width: 0.3px;
	border-color: rgba(255, 124, 105, 1);
}

.thread-cell
{
	z-index: 10;	
	border-style: solid;
	border-color: rgba(247, 40, 7, 1);

	/*-webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);*/
}
.thread-cell.paused
{
	border-color: rgba(247, 127, 7, 1);
}
.thread-cell > .label
{
	display: block;
	border-width: 2px 0 2px 0;
	border-color: rgba(247, 40, 7, 1);
	background-color: rgba(247, 40, 7, 1);
	text-align: center;
	margin-left: -2px;
	margin-right: -2px;
}
.thread-cell.paused > .label
{
	border-color: rgba(247, 127, 7, 1);
	background-color: rgba(247, 127, 7, 1);
}