/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

#debug-info 
{
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: var(--DARK-BLUE-COLOR);
}

#debug-info .field
{
	color: rgba(255, 255, 255, 0.6);
}

#debug-info .group>.name
{
	background-color: var(--DARK-BLUE-COLOR);
}


/* ----------------------------- */
/* status message */
/* ----------------------------- */

#status-message
{
	text-align: center;
	color: white;
	background-color: var(--DARK-GRAY-COLOR);
	
}
	#status-message::after
	{
		content: "Waiting";
	}

#interface
{
	border-color: var(--DARK-GRAY-COLOR);
}

#interface.rendering #status-message
{
	background-color: var(--LIGHT-RED-COLOR);
}
	#interface.rendering #status-message::after
	{
		content: "Rendering";
	}

#interface.done #status-message
{
	background-color: var(--DARK-BLUE-COLOR);
}
	#interface.done #status-message::after
	{
		content: "Done";
	}