#grid-layout
{
	position: relative;
	white-space: nowrap;
	
	transform: scale(0.3, 0.3);
    width: 200px;
    height: 50px;
}

.render-cell
{
	display:inline-block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	text-align: center;
	vertical-align: top;
}

.divider
{
	height: 50px;
}