/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

#debug-info 
{
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: var(--DARK-BLUE-BACKGROUND-COLOR);
}

#debug-info .field
{
	color: rgba(255, 255, 255, 0.6);
}

#debug-info .group>.name
{
	background-color: var(--DARK-BLUE-BACKGROUND-COLOR);
}





/* ----------------------------- */
/* Rendering canvas */
/* ----------------------------- */

#rendering-canvas
{
	background-color: #FFFFFF;
}
