/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

#rendering-canvas
{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #EBEBEB;
}
