body
{
	--dark-background-color: #1F52F2; 
	--light-background-color: #0079FF; 

	background-color: #F9F9F9;
	color: #505050;
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

#loading-curtain
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-image: linear-gradient(var(--dark-background-color), var(--light-background-color));
	color: #D0D0D0;
	font-size: 2em;
	text-align: center;
}

#loading-curtain .wrapper
{
	width: 100%;
	height: 100%;
}

#loading-curtain .message
{
	position: absolute;
    top: 50%;
    left: 50%;
	margin-left: -350px;
    font-weight: 900;
    font-size: 55px;
    color: white;
}

br 
{
	height: 0px;
	line-height: 0px;
}

#grid-layout
{
	background-color: #FFFFFF;
	/*position: absolute;*/
	white-space: nowrap;
	display: inline-block;

	border-style: solid;
	border-color: #EBEBEB;
	border-width: 1px 0px 0px 1px;
	
}

.render-cell
{
	display:inline-block;
	border-style: solid;
	border-color: #EBEBEB;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	vertical-align: top;
}
.render-cell.active
{
	background-color: #FF4F49;
}

#debug-info 
{
	position: fixed;
	max-width: 300px;
	bottom: 0;
	right: 0;
	color: white;
	font-size: 2em;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: var(--dark-background-color);
}

#debug-info .field
{
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.6);
}

#debug-info .field .value
{
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

#debug-info .field .key
{
	flex-grow: 1;
	text-align: center;
	flex-shrink: 1;
	padding: 10px;
}

#debug-info .group>.name
{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	background-color: var(--dark-background-color);
}

#debug-info .group table
{
	table-layout: fixed;
	width: 100%;
}

#rendering-canvas
{
	border-style: solid;
	border-color: #EBEBEB;
	border-width: 1px;
}