/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

body
{
    /* ----------------------------- */
	/* global constant variables that can be used in CSS */
	/* ----------------------------- */
	--DARK-BLUE-BACKGROUND-COLOR: #1F52F2; 
	--LIGHT-BLUE-BACKGROUND-COLOR: #0079FF; 
	--LOADING-SKELETON-BACKGROUND: rgb(226, 226, 226);
    

	background-color: #F9F9F9;
	color: #505050;
	font-family: 'Muli', sans-serif;
}

.clickable
{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.hidden
{
    opacity: 0 !important;
}


.loading
{
	pointer-events:none;
}



/* ----------------------------- */
/* Buttons */
/* ----------------------------- */

button
{
    cursor: pointer;
	font-family: 'Muli', sans-serif;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

	button.loading
	{
		background-color: var(--LOADING-SKELETON-BACKGROUND) !important;
		border-color: var(--LOADING-SKELETON-BACKGROUND) !important;
	}

	button.disabled
	{
		cursor: default !important;
	}

	button.light
	{
		background: transparent;
		color: white;    
		border-style: solid;
		border-color: white;
	}
		button.light:not(.disabled):hover
		{
			color: var(--DARK-BLUE-BACKGROUND-COLOR);
			background: white;
		}

	button.dark
	{
		color: white;
		background: var(--DARK-BLUE-BACKGROUND-COLOR);
		border-style: solid;
		border-color: var(--DARK-BLUE-BACKGROUND-COLOR);
	}
		button.dark:not(.disabled):hover
		{
			background: transparent;
			color: var(--DARK-BLUE-BACKGROUND-COLOR);
		}




/* ----------------------------- */
/* Inputs */
/* ----------------------------- */

input
{
	font-family: 'Muli', sans-serif;
	border-style: solid;
	border-color: #EBEBEB;
	border-width: 1px;
	vertical-align: bottom;
	color: var(--DARK-BLUE-BACKGROUND-COLOR);
    padding-left: 10px;
	padding-right: 10px;
	outline: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
	/** WebKit desktop browsers add little up down arrows to number inputs called spinners. We need to turn them off! */
	margin: 0; 
	-webkit-appearance: none;
}

input:focus
{
	border-color: var(--DARK-BLUE-BACKGROUND-COLOR);
}

	input.loading
	{
		outline: none;
		background-color: var(--LOADING-SKELETON-BACKGROUND) !important;
		border-color: var(--LOADING-SKELETON-BACKGROUND) !important;
	}




/* ----------------------------- */
/* Loading curtain */
/* ----------------------------- */

#loading-curtain
{
	background-image: linear-gradient(var(--DARK-BLUE-BACKGROUND-COLOR), var(--LIGHT-BLUE-BACKGROUND-COLOR));
	color: #D0D0D0;
}

	#loading-curtain .message
	{
		color: white;
	}




/* ----------------------------- */
/* Rendering grid */
/* ----------------------------- */

#rendering-canvas
{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #EBEBEB;
}

.render-cell
{
	border-style: solid;
	border-color: #EBEBEB;
}
	.render-cell.active
	{
		background-color: #FF4F49;
	}

	#layout-wrapper.loading
	{
		background-color: var(--LOADING-SKELETON-BACKGROUND);
	}