/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

body
{
    /* ----------------------------- */
	/* global constant variables that can be used in CSS */
	/* ----------------------------- */
	--DARK-BLUE-COLOR: #1F52F2; 
	--LIGHT-BLUE-COLOR: #0079FF; 
	--LIGHT-GRAY-COLOR: #EBEBEB;
	--DARK-GRAY-COLOR: #6e6e6e;
	--LIGHT-RED-COLOR: #C3272B;
	--DARK-RED-COLOR: #8F1D21;
	--TEXT-COLOR: rgba(255, 255, 255, 0.5);
	--LIGHT-BLACK-COLOR: rgba(20,19,22,1); 
	--DARK-BLACK-COLOR: black;

	--EDITOR-POPUP-BACKGROUND: rgba(255, 255, 255, 0.05);
	

	background-color: var(--LIGHT-GRAY-COLOR);
	color: white;
	font-family: 'Muli', sans-serif;
}


body.busy
{
	cursor: wait;
}

.clickable
{
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.no-highlight 
{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hidden
{
    opacity: 0 !important;
}

.disabled
{
	cursor: default !important;
	pointer-events: none !important;
}


/* ----------------------------- */
/* Buttons */
/* ----------------------------- */

button,
checkbox-button
{
    cursor: pointer;
	font-family: 'Muli', sans-serif;
	background-color: var(--LIGHT-GRAY-COLOR);
	border-style: solid;

	/** Removes chrome's glow effect */
	outline: none;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

	button.disabled,
	checkbox-button.disabled
	{
		cursor: default !important;
	}

	button.light,
	checkbox-button.light
	{
		background: transparent;
		color: white;    
		border-color: white;
	}
		checkbox-button.selected,
		button.light:not(.disabled):hover
		{
			color: var(--DARK-BLUE-COLOR);
			background: white;
		}

	button.dark,
	checkbox-button.dark
	{
		color: white;
		background: var(--DARK-BLUE-COLOR);
		border-color: var(--DARK-BLUE-COLOR);
	}
		checkbox-button.selected,
		button.dark:not(.disabled):hover
		{
			background: transparent;
			color: var(--DARK-BLUE-COLOR);
		}

bar-button
{
	background-color: var(--LIGHT-BLACK-COLOR);
	color: rgba(255, 255, 255, 1);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

bar-button:not(.disabled):hover
{
	background-color: var(--LIGHT-BLACK-COLOR);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

bar-button.disabled
{
	opacity: 0.2;
}




layer>curtain
{
	background: transparent;
	cursor: default !important;
}

dropdown>wrapper_
{
	background-color: var(--LIGHT-BLACK-COLOR);
}

dropdown .entry
{
	color: rgba(255, 255, 255, 1);
}

dropdown .entry:not(.disabled):hover
{
	color: rgba(255, 255, 255, 0.7) !important;
	cursor: pointer;
}
dropdown .entry.disabled
{
	opacity: 0.2;
}


/* ----------------------------- */
/* Inputs */
/* ----------------------------- */

input
{
	font-family: 'Muli', sans-serif;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	vertical-align: bottom;
	color: var(--TEXT-COLOR);
	background: rgba(255, 255, 255, 0.05);
}

input.disabled
{
	outline: none;
	border: none !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
	/** WebKit desktop browsers add little up down arrows to number inputs called spinners. We need to turn them off! */
	margin: 0; 
	-webkit-appearance: none;
}

input:focus
{
	border-color: var(--DARK-BLUE-COLOR);
	color: var(--DARK-BLUE-COLOR);
}




/* ----------------------------- */
/* Rendering grid */
/* ----------------------------- */
	
editor-popup
{
	background-color: var(--LIGHT-BLACK-COLOR);
}

curtain
{
	background-color: black;
	opacity: 0.5;
}

#editor-canvas
{
	background-color: var(--DARK-BLACK-COLOR);
}

#rendering-canvas
{
	background-color: white;
}