/* -------------------------------------------------------------------------------------------------------------------- */
/* Styles (fires browsers repaint event - fast processing) */
/* -------------------------------------------------------------------------------------------------------------------- */

body
{
	background-color: black;
}


#recalculate-layout-button
{
	background-color: var(--DARK-RED-COLOR);
	border-color: var(--DARK-RED-COLOR);
}
	#recalculate-layout-button:hover
	{
		color: var(--DARK-RED-COLOR);
		background-color: transparent;
		border-color: var(--DARK-RED-COLOR);
	}

	#recalculate-layout-button.selected
	{
		color: var(--DARK-RED-COLOR);
		background: transparent;
	}